
<mat-grid-list cols="1" rowHeight="2rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(1)"><p>Perú</p></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(2)"><p>EE.UU</p></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(3)"><p>Venezuela</p></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(4)"><p>Chile</p></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(5)"><p>Colombia</p></button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(6)"><p>Francia</p></button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
