.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card-title{
  display: flex;
  justify-content: center;
  font-size: 28px;
}

mat-grid-tile{
  margin-top: 30px;
}

#textBox{
  margin-top: 0%;
}

mat-card {
  background-color: #d46e81;
  margin-top: 10px;
  width: 280px;
  height: 290px;
  border-radius: 10%;
  margin-left: 300px;
}

img{
  border-radius: 6.5rem;
  width: 280px;
  height: 280px;
  margin-right: 150px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

h1{
  color: #beb0d4;
  font-weight: bold;
  font: bold 62px myFont;
}
@font-face {
  font-family: myFont;
  src: url(../font/PlayfairDisplay-Black.ttf);
}

h1:hover{
  transform: scale(1.3);
}

img:hover{
  transform: scale(1.5);
}

mat-error{
  font-size: 15px;
}

