/*
body {
  background-image: url('../../assets/IMG/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
*/

@font-face {
  font-family: myFont;
  src: url(../font/PlayfairDisplay-Black.ttf);
}

img {
  border-radius: 8rem;
  width: 600px;
  height: 280px;
  margin-top: 120px;
  margin-bottom: 120px;
}

mat-grid-list {

  margin-bottom: 2rem;
  padding: 1rem  /*Para dar espacio dentro de grilla*/
}

.texto {
  background-color: rgba(35, 52, 69, 0.95);
  width: 28rem;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-top: 20px;
  margin-bottom: 25px;
}

.boxText2{
  color:#ff7e5f;
}

.texto2{
  background-color: rgba(35, 52, 69, 0.95);
  width: 28rem;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-top: 10px;
  margin-bottom: 25px;
}

p,h1 {
  color: #389bc3;
  font-weight: bold;
}

#botonVen{
  background-color: #a9bb25;
  text-align: center;
  width: 250px;
  height: 40px;
  margin-left: 90px;
  font-size: 15px;
}


#textFont,#textoBoton{
  font: bold 25px myFont;
}

.texto:hover{
  transform: scale(1.1);
}

.texto2:hover{
  transform: scale(1.8);
}

img:hover{
  transform:rotate(360deg);
  transition: transform 2s ease-in-out;
}

.img1:hover{
  transform: rotate(20deg);
  transition: transform 1s ease-in-out;
}

.img2:hover{
  transform: rotate(-20deg);
  transition: transform 1s ease-in-out;
}

#botonVen:hover{
  background-color: red;
}
